<div class = "education">
  <!-- <p>
    education works!
    <br>
    <a target="_blank" href="https://www.northeastern.edu/">
      <img class = "northeastern-icon" src="../assets/images/northeastern-seal.png">
    </a>
    <b> Northeastern University </b>
    <br>
    <b> Computer Science, M.S </b>
  </p> -->
  <mat-card class=collegeHeader>
    <div mat-card-avatar class="example-header-image">
        <!-- <img class = "northeastern-icon" src="../assets/images/northeastern-seal.png"> -->
        <a target="_blank" href="https://www.northeastern.edu/">
          <img class = "northeastern-icon" src="../assets/images/northeastern-seal.png">
        </a>
    </div>
    <mat-card-title class="header-title">Northeastern University</mat-card-title>
    <mat-card-subtitle class="header-title">Masters of Science in Computer Science</mat-card-subtitle>
  </mat-card>
  <mat-card-content>
  <div class=relevant-coursework>
  <p>Relevant Coursework:</p>
    <ul style="list-style: circle;">
      <li>Programming Design Paradigm</li>
      <li>Algorithm</li>
      <li>Information Retrieval</li>
      <li>Database Management Systems</li>
    </ul>
    <mat-chip-list>
      <mat-chip class=skillChip>Java</mat-chip>
      <mat-chip class=skillChip>Python</mat-chip>
      <mat-chip class=skillChip>Git</mat-chip>
      <mat-chip class=skillChip>MySQL</mat-chip>
      <mat-chip class=skillChip>Racket</mat-chip>
    </mat-chip-list>
    </div>
  </mat-card-content>
<!-- </mat-card> -->

<hr>

<!-- Visveswaraya Technological University -->
  <mat-card class=collegeHeader>
    <div mat-card-avatar class="example-header-image">
        <!-- <img class = "northeastern-icon" src="../assets/images/northeastern-seal.png"> -->
        <a target="_blank" href="http://vtu.ac.in/">
          <img class = "northeastern-icon" src="../assets/images/Picture1.png">
        </a>
    </div>
    <mat-card-title class="header-title">Visveswaraya Technological University</mat-card-title>
    <mat-card-subtitle class="header-title">Bachelor of Engineering in Information Science</mat-card-subtitle>
  </mat-card>
  <mat-card-content>
    <div class=relevant-coursework>
      <p>Relevant Coursework:</p>
        <ul style="list-style: circle;">
          <li>Data Structures</li>
          <li>Algorithm</li>
          <li>Java & J2EE</li>
          <li>Database Management Systems</li>
          <li>Computer Networks</li>
          <li>Unix System Programming</li>
          <li>Web Developement</li>
          <li>Object Oriented Programming</li>
          <li>Software Engineering</li>
          <li>Operating Systems</li>
          <li>Software Architecture</li>
          <li>Ad-hoc Networks</li>
        </ul>
        <mat-chip-list>
          <mat-chip class=skillChip>Java</mat-chip>
          <mat-chip class=skillChip>C</mat-chip>
          <mat-chip class=skillChip>C++</mat-chip>
          <mat-chip class=skillChip>Unix</mat-chip>
          <mat-chip class=skillChip>MySQL</mat-chip>
          <mat-chip class=skillChip>HTML</mat-chip>
          <mat-chip class=skillChip>CSS</mat-chip>
        </mat-chip-list>
        </div>
      </mat-card-content>
</div>

<!-- The test of a complete mat card -->
<div>
  <app-projects>

  </app-projects>
</div>
