<mat-toolbar class=header color="secondary">
    <!-- <div> SONAL SINGH </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>Work</mat-icon>
        <span>Work</span>

      </button>
      <button mat-menu-item>Education</button>
      <button mat-menu-item>Blog</button>
    </mat-menu> -->

    <mat-icon routerLink='' class="example-icon">home</mat-icon>
    <span class="spacer"></span>
    <a mat-button routerLink='/work' color="secondary">Work</a>
    <a mat-button routerLink='/education'color="secondary">Education</a>
    <a mat-button routerLink='/blog'color="secondary">Blog</a>
    <a mat-button routerLink='/contact' color="secondary">Contact</a>
    <a routerLink='' mat-button color="secondary">Home</a>
</mat-toolbar>
