<!-- Add cards with background and buttons -->


<div class="projectBG">
    <div class="column">
<mat-grid-list cols="3" rowHeight="1.5:1" class="row" gutterSize="10px">

  <mat-grid-tile *ngFor="let project of projects" class="project-tile">
      <div class="flip-card">
        <a target="_blank" href="{{ project.githublink }}">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <!-- <img src="../assets/images/searchengine.jpg" alt="Avatar" style="width:500px;height:350px;"> -->
              <img src="{{ project.imagesource }}" alt="Avatar" style="width:100%;height: 100%;">
            </div>
            <div class="flip-card-back">
              <h1 class="flip-back-text">{{ project.title }}</h1>
              <p class="flip-back-text">{{ project.content }}</p>
            </div>
          </div>
        </a>
        </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
</div>
