<div class="contactContainer">
  <div class="contactIntroText">
    <p>
      LETS GET <span style="color: deepskyblue"> IN </span>TOUCH
    </p>
    <div class="socialButtonsContainer">
        <button mat-button>

          <img src="../assets/images/github1.png" style="border-radius: 50%; width: 60px; height:60px">

        </button>

        <button mat-button>
            <img src="../assets/images/linkedin.png" style="border-radius: 50%; width: 60px; height:60px">
        </button>
        <button mat-button>
          <img src="../assets/images/medium.png" style="border-radius: 50%; width: 60px; height:60px">
        </button>

      <button mat-button>
          <img src="../assets/images/mail.jpeg" style="border-radius: 50%; width: 60px; height:60px">
      </button>
    </div>
  </div>
</div>
