<div class="spacer"></div>
<!-- <div class="WorkHeaderDivider">
    <p style="text-align: center;vertical-align: middle; font-size: 2em; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">This is where I've worked</p>
</div> -->
<div>
  <!-- Charles River development work experience -->
    <div class="WorkContainer">
        <div class="leftLogoHolder">
          <a target="_blank" href="https://www.crd.com/">
          <img src="../assets/images/CRDLogo.jpg">
        </a>
        </div>
        <div class="WorkExHolder">
          <h1>SaaS Operations Co-op</h1>
          <p class="WorkExYear">July 2018 - December 2018</p>
          <p class="WorkLocation">Boston, MA</p>
          <ul class="WorkExFont">
              <li>Devised a python script to create Ansible Inventory by parsing an XML which boosted the process by 90%.</li>
              <li>Employed higher order functions to process data fetched from the database to manage FIX connections.</li>
              <li>Automated the process of setting up git repos, password-less SSH and provisioning of VMs using Ansible playbooks.</li>
              <li>Proposed and implemented chocolatey package management and automated the entire pipeline from spinning up the instance to package creation using Ansible and PowerShell eliminating the manual intervention by 98%.</li>
              <li>Developed an Ansible module that self-fetches information from the Disaster recovery inventory based on the production host.</li>
              <li>Designed a custom API and developed CRUD operations for modifying job options in Rundeck for multiple groups.</li>
          </ul>
        </div>
      </div>
<!-- Tech Mahindra work experience -->
  <div class="WorkContainer">
    <div class="leftLogoHolder">
      <a target="_blank" href="https://www.techmahindra.com/pages/default.aspx">
      <img src="../assets/images/tmLogo.png">
    </a>
    </div>
    <div class="WorkExHolder">
      <h1>Software Engineer</h1>
      <p class="WorkExYear">August 2015 - July 2017</p>
      <p class="WorkLocation">Bangalore, India</p>
      <ul class="WorkExFont">
        <li>
            Developed test scripts using SAP CBTA and SOLMAN.
        </li>
        <li>
            Migrated test automation scripts from HP toolset to SAP CBTA & SOLMAN, reducing overall cost involved in automation
        </li>
        <li>
            Developed and executed automation regression test suite for SAP R3 and SAP Net weaver Portal using CBTA. Designed and
            implemented an automation script that reduced the testing time during patch releases significantly.
        </li>
        <li>
            Managed sprint planning, tracking and controlling White-Board activity as part of agile methodology
        </li>
      </ul>
    </div>
  </div>
</div>
