<div>
  <img src="../assets/images/python.png" class="skillImage">
  <img src="../assets/images/java.jpg" class="skillImage">
  <img src="../assets/images/javascript.png" class="skillImage">
  <img src="../assets/images/racket.png" class="skillImage">
  <img src="../assets/images/html.png" class="skillImage">
  <img src="../assets/images/css.png" class="skillImage">
  <img src="../assets/images/angular.png" class="skillImage">
  <img src="../assets/images/nodejs.png" class="skillImage">
  <img src="../assets/images/mysql.png" class="skillImage">
  <img src="../assets/images/mongodb.png" class="skillImage">
  <img src="../assets/images/ansible.png" class="skillImage">
  <img src="../assets/images/git.png" class="skillImage">
</div>
